* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      background-color: black;
}

b {
      color: rgb(159, 54, 190);
}

.parent-box {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

.child-box {
      color: white;
      width: 40%;
      text-align: center;
      
}