* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      background-color: black;
}

.hard-work {
      background: linear-gradient(241.16deg, rgba(255, 119, 233, 0.97) 17.37%, #0500FF 67.75%);
      background-clip: text;
      color: transparent;
}

.parent-box {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

.child-box {
      color: white;
      width: 40%;
      text-align: center;
      
}