@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      background-color: black;
}

.hard-work {
      background: linear-gradient(241.16deg, rgba(255, 119, 233, 0.97) 17.37%, #0500FF 67.75%);
      background-clip: text;
      color: transparent;
}

.parent-box {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1207px;
}

.child-box {
      color: white;
      width: 40%;
      text-align: center;
      font-family: "Acme", sans-serif;
      font-weight: 400;
      font-size: 70px;
      line-height: 90px; 
      letter-spacing: 0%;
      text-align: center;
}